@font-face {
    font-family: 'Butler';
    src: url('fonts/Butler-Medium.woff2') format('woff2'),
        url('fonts/Butler-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

/* @font-face {
    font-family: 'Butler';
    src: url('fonts/Butler-Bold.woff2') format('woff2'),
        url('fonts/Butler-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
} */
