@import url("../../libs/css/swiper.min.css");
@import url("../../libs/css/airbnb.css");
@import url("../../libs/css/cookieconsent.min.css");

/*general variables*/
$enable-rounded: false;
$enable-responsive-font-sizes: true;

/*colors*/
$themePrimary: #029DCF;

$themeSecondary: #FF947B;
$themeLight: #dbdbdb;
$themeDark: #080808;
$themeInfo: #4CB9DC;
$theme-colors: ("primary": $themePrimary,
    "secondary": $themeSecondary,
    "info": $themeInfo,
    "light": $themeLight,
    "dark": $themeDark);

/*Typography*/
@import url("../../libs/webfonts/butler.css");
$body-color: #404040;
$font-family-sans-serif: 'Butler',
sans-serif;
$font-family-sans: 'Lato',
sans-serif;
$font-family-base: $font-family-sans;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$headings-font-weight: $font-weight-medium;
$headings-font-family: $font-family-sans-serif;

$font-size-base: 1rem * 1.125;
$font-weight-base: $font-weight-light;

$h1-font-size: 1rem * 2.5;
$h2-font-size: 1rem * 1.875;
$h3-font-size: 1rem * 1.625;
$h4-font-size: 1rem * 1.375;
$h5-font-size: 1rem * 1.375; //22px
$h6-font-size: 1rem * 0.75;
$small-font-size: 1rem * 0.875;
$lead-font-size: 1rem * 1.25;

$display2-size: 5rem;

$paragraph-margin-bottom: 0.75rem;

/*Links and buttons*/
$link-color: $themeSecondary;
$btn-font-size: 1rem;
$btn-padding-y: .5rem;
$btn-padding-x: 1.25rem;


/*Navbar*/
$navbar-brand-height: 2.5rem;
$navbar-brand-padding-y: 1.875rem;
// $navbar-light-color: $body-color;
$navbar-light-hover-color: $themePrimary;
$navbar-light-active-color: $themePrimary;

$dropdown-min-width: 15rem;

$dropdown-link-hover-color: $themePrimary;
$dropdown-link-hover-bg: #ffffff;

$dropdown-link-active-color: $themePrimary;
$dropdown-link-active-bg: #ffffff;

// $dropdown-item-padding-y:           .25rem !default;
// $dropdown-item-padding-x:           1.5rem !default;

/*hr*/
$hr-border-color: $themePrimary;
/*inputs*/

/*gird*/
$grid-breakpoints: ( // Extra small screen / phone
    xs: 0,
    // Small screen / phone
    sm: 576px,
    // Medium screen / tablet
    md: 768px,
    // Large screen / desktop
    lg: 992px,
    // Extra large screen / wide desktop
    xl: 1337px);
$container-max-widths: (sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1338px);
@import "../../libs/scss/bootstrap";


/*Typography*/
h1,
.h1 {
    @include responsive-font-size($h1-font-size);
}

h2,
.h2 {
    @include responsive-font-size($h2-font-size);
}

h3,
.h3 {
    @include responsive-font-size($h3-font-size);
    font-family: $font-family-base;
}

h4,
.h4 {
    @include responsive-font-size($h4-font-size);
    font-family: $font-family-base;
    font-weight: $font-weight-medium;
}

h5,
.h5 {
    @include responsive-font-size($h5-font-size);
    font-weight: $font-weight-light;
    font-family: $font-family-base;
    margin-bottom: 2rem;
}

h6,
.h6 {
    @include responsive-font-size($h6-font-size);
}

.display-1 {
    @include responsive-font-size($display1-size);
}

.display-2 {
    @include responsive-font-size($display2-size);
}

.display-3 {
    @include responsive-font-size($display3-size);
}

.display-4 {
    @include responsive-font-size($display4-size);
}

p {
    @include responsive-font-size($font-size-base);
}

.small,
small {
    font-weight: $font-weight-light;
}

.light {
    font-family: $font-family-sans;
    font-weight: $font-weight-light;
}

.serif-font {
    font-family: $font-family-sans-serif;
}

@media (min-width: 2200px) {}

@media (min-width: 1850px) {}

@media (min-width: 1536px) {}

@media (min-width: 1200px) {}

@media (min-width: 992px) {}

@media (min-width: 768px) {}

@media (min-width: 576px) {}

@media (max-width: 575px) {}

/*Links and buttons*/
.btn-secondary {
    color: #ffffff;
}

/*navbar*/
.navbar-logo {
    height: 40px;
}

.dropdown-menu {
    text-align: right;
    border-top: 1px solid $themeLight;
    border-bottom: 1px solid $themeLight;
    border-left: none;
    border-right: none;
    min-width: 12rem !important;
}

.dropdown-item {
    font-weight: $font-weight-light;
}

@include media-breakpoint-up(sm) {
    .dropdown-submenu {
        position: relative;
    }

    .dropdown-submenu>.dropdown-menu {
        top: 0;
        left: -1px;
        margin-top: 0px;
        margin-left: 0px;
        position: absolute !important;
        transform: translate(-100%);
        border-top: none;
        border-bottom: none;
        border-left: none;
        border-right: 1px solid $themeLight;
    }

    .dropdown-submenu:hover>.dropdown-menu {
        display: block;
    }

}


#navContainer {
    min-width: 210px;
    float: right;
    position: relative;
}

//slidein nav
// header {
//     overflow-x: hidden;
// }

.offcanvas-collapse {
    position: relative;
    // top: 129px;
    z-index: 10001;
    /* Height of navbar */
    height: 0px;
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #ffffff;
    transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.offcanvas-collapse.open {
    height: 100vh;
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}


.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

//slidein nav end
/* ANIMATED X */
.icon-bar {
    width: 22px;
    height: 2px;
    background-color: $themePrimary;
    display: block;
    transition: all 0.2s;
    margin-top: 4px;
}

.navbar-toggler {
    border: none;
    background: transparent !important;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler.x .icon-bar:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 10% 10%;
    -ms-transform-origin: 10% 10%;
    transform-origin: 10% 10%;
}

.navbar-toggler.x .icon-bar:nth-of-type(2) {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler.x .icon-bar:nth-of-type(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 10% 90%;
    -ms-transform-origin: 10% 90%;
    transform-origin: 10% 90%;
}

/* ANIMATED X COLLAPSED */
.navbar-toggler.x.collapsed .icon-bar:nth-of-type(1) {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

.navbar-toggler.x.collapsed .icon-bar:nth-of-type(2) {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.x.collapsed .icon-bar:nth-of-type(3) {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

/* END ANIMATED X */

/*header*/
#cover {
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.section-heading {
    @extend .text-center;
    @extend .text-primary;

    span {
        @extend .position-relative;
        @extend .p-3;
        @extend .bg-white;
        z-index: 1;
    }
}

.section-heading:after {
    content: '';
    border-bottom: 1px solid $themePrimary;
    width: 100%;
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 0;
}

/*Footer*/
@media (max-width: 428px) {
    .footer-logos .nav-item {
        width: 100%;
    }
}
.footer-logos .nav-link img {
    max-width: 320px;
}
// .footer-nav-cols {
//     column-count: 3;
// }

/*forms*/

/*icons*/

/*cookie consent*/
.cc-theme-block {
    @extend .bg-primary;  
    // @extend .text-white;
    // @extend .small;
    // font-family: $font-family-base;
    .cc-message * {
        @extend .text-white;
    }
    // .cc-compliance a {
    //     @extend .text-white;
    // }
}

/*collapsed*/
.arrow-button {
    transition: .3s transform ease-in-out;
}

.collapsed .arrow-button {
    transform: rotate(180deg);
}

/*drops*/

/*tables*/
table {
    @extend .border-0;

    td {
        @extend .p-3;
        @extend .border-0;
    }
}

/*cards*/
// .card-columns {
//     @include media-breakpoint-down(md) {
//         column-count: 1;
//     }

//     @include media-breakpoint-only(lg) {
//         column-count: 2;
//     }

//     @include media-breakpoint-only(xl) {
//         column-count: 2;
//     }
// }

// .card-columns.organ-columns- {
//     @include media-breakpoint-down(md) {
//         column-count: 2;
//     }

//     @include media-breakpoint-only(lg) {
//         column-count: 3;
//     }

//     @include media-breakpoint-only(xl) {
//         column-count: 4;
//     }
// }

.card-img-overlay:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(116, 115, 115, 0.5);
    z-index: -1;
}
#eventsListing .card-img-overlay:before {
    background-color: rgba(116, 115, 115, 0.75);
}

.card-img-overlay {
    z-index: 1;
}

/*card decks*/
// number of cards per line for each breakpoint
$cards-per-line: (xs: 1,
    sm: 1,
    md: 2,
    lg: 3,
    xl: 3);

@each $name,
$breakpoint in $grid-breakpoints {
    @media (min-width: $breakpoint) {
        .card-deck .card {
            flex: 0 0 calc(#{100/map-get($cards-per-line, $name)}% - #{$grid-gutter-width});
        }
    }
}

/*Pills tabs*/
#pills-tab {
    .nav-item {
        a {
            color: $themeLight;
        }

        a.active {
            background-color: transparent;
            color: $themePrimary;
            text-decoration: underline;
        }
    }
}

//BS carousel
.carousel-thumbs {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    justify-content: left;
    margin-left: 0px;
    margin-right: 0px;
}

.carousel-thumbs div img {
    opacity: 0.5;
    cursor: pointer;
}

.carousel-thumbs .active img {
    opacity: 1;
}

/*swiper*/
.swiper-button-next.bg-secondary {
    right: 0px;
}

.swiper-button-prev.bg-secondary {
    left: 0px;
}

.swiper-pagination-bullet {
    background-color: #d6d6d6;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: $themeDark;
    opacity: 0.5;
}

.swiper-buton-white {
    filter: grayscale(1) brightness(10);
}

.full-screen {
    display: none;
    z-index: 1500;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.8);

    .close {
        font-size: 4em;
        color: #fff;
        position: absolute;
        right: .75em;
        top: .25em;
        cursor: pointer;
        z-index: 100;
        text-shadow: 0px 1px 4px black;
    }
}

.zoom {
    cursor: pointer;
    @extend .bg-primary;
}

.zoom img {
    opacity: 1;
    transition: all .4s;
}

.zoom:hover img {
    opacity: 0.2;
    transition: all .4s;
}

/*home page*/

#homePageSlider {
    height: 170px;

    .video-overlay {
        z-index: 9;
        height: 170px;
    }

    .container {
        height: 170px;
    }

    .home-slide {
        min-height: 430px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .bgVideo {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
    }

    iframe {
        position: absolute;
        top: -130px;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 1900px) {
    #homePageSlider {
        height: 850px;

        .container,
        .video-overlay {
            height: 850px;
        }
    }
}

@media (min-width: 1500px) and (max-width: 1899px) {
    #homePageSlider {
        height: 670px;

        .container,
        .video-overlay {
            height: 670px;
        }
    }
}

@media (min-width: 1200px) and (max-width: 1499px) {
    #homePageSlider {
        height: 570px;

        .container,
        .video-overlay {
            height: 570px;
        }
    }
}

@include media-breakpoint-up(lg) {
    #homePageSlider {
        iframe {
            top: -60px;
        }
    }
}

@include media-breakpoint-only(lg) {
    #homePageSlider {
        height: 470px;

        .container,
        .video-overlay {
            height: 470px;
        }
    }
}

@include media-breakpoint-only(md) {
    #homePageSlider {
        height: 370px;

        .container,
        .video-overlay {
            height: 370px;
        }
    }

}

@include media-breakpoint-up(sm) {
    #homePageSlider {
        .home-slide {
            min-height: 600px;
        }
    }
}

@include media-breakpoint-only(sm) {
    #homePageSlider {
        height: 300px;

        .container,
        .video-overlay {
            height: 300px;
        }

        iframe {
            top: -140px;
        }
    }

}

@include media-breakpoint-only(xs) {
    #homePageSlider {
        top: -25px;
    }
}

//about page
@media (min-width: 992px) and (max-width: 1300px) {
    #eventsListing {
        & .card-text, small {
            display: none;
        }
    }
}
@media (max-width: 495px) {
    #eventsListing {
        & .card-text, small {
            display: none;
        }
    }
    .card-img-overlay {
        padding: 0.9rem;
    }
}
@media (max-width: 620px) {
    #eventsListing {
        & .card-btn {
            position: absolute;
            bottom: 15px;
            right: 15px;
        }
    }
}
// @media (min-width: 576px) {
//     #whoweareColumns.card  {
//         column-count: 2;
//     }
// }
@include media-breakpoint-up(sm) {
    #whoweareColumns.card-columns, #benefitsformembersColumns.card-columns  {
        column-count: 2;
    }
}


//credo page
@media (max-width: 484px){
    .credo-spa-resort .section-heading span {
        padding: 6px !important;
    }
}

//news
.list-group-flush:last-child .list-group-item:last-child {
    margin-bottom: -1px;
    border-bottom: 1px solid rgba(0,0,0,0.125);
}
.list-group-flush:first-child .list-group-item:first-child {
    margin-top: 0;
    border-top: 0;
}

.list-group-flush .list-group-item:hover, .list-group-flush:last-child .list-group-item:last-child:hover { 
    border-bottom-width: 3px;
    border-bottom-color: $themeSecondary;

    a {
        h3 {
            color: $themeSecondary;
        }
        text-decoration: none;
        color: $themeSecondary;
    }
}

//recovery page 
#recoveryVideo .video-container {
    overflow: hidden;
    position: relative;
    width:100%;
}

#recoveryVideo .video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

#recoveryVideo .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

//members page
#indicationsAllColumns .list-inline-item {
    &:not(:last-child)::after{
        padding-left: 10px;
        content: "|";
        color: $themeSecondary;
    }
}

/*congress page*/
.cover-image {
    height: 628px;
    width: 100%;
    z-index: -1;
}
.cDisplay-1 {
    font-size: 3.82812rem;
    letter-spacing: 6px;
    text-transform: uppercase !important;
}
.cDisplay-2 {
    font-size: 2.125rem;
    letter-spacing: 1px;
}
.cDisplay-3 {
    font-size: 1.64062rem;
    letter-spacing: 4px;
}
.cDisplay-4 {
    font-size: 0.9625rem;
    letter-spacing: 2px;
    padding: 12px;
    color: $themeSecondary !important;
    font-weight: 400;
}
@include media-breakpoint-down(sm) {
    .cDisplay-1 {
        font-size: 2.2rem;
        letter-spacing: 3px;
    }
    .cDisplay-2 {
        font-size: 1.5rem;
    }

}
#PageCover.ESPAcongress-cover {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    & h1 {
        display: none;
    }
    & #cover {
        display: flex;
    }
}
#ESPAcongressDestiantionBg, #awardsWinnerBg, #awardsContactsBg {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
// @include media-breakpoint-up(sm) { ... }
@include media-breakpoint-up(md) {
    .cover-image {
        height: 329px;
    }
    #PageCover.ESPAcongress-cover {
        background-position: top center;
        background-size: 100%;
    }
}
@include media-breakpoint-up(lg) {
    .cover-image {
        height: 427px;
    }
    #PageCover.ESPAcongress-cover {
        background-position: top center;
        background-size: 100%;
    }
}
@include media-breakpoint-up(xl) {
    .cover-image {
        height: 530px;
    }
    #PageCover.ESPAcongress-cover {
        background-position: 50% 50%;
        background-size: 100%;
    }
}
.bg-special {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(20,61,102,0.7)), to(rgba(80,202,255,0.6)));
    background-image: linear-gradient(to right, rgba(20,61,102,0.7) 0%, rgba(80,202,255,0.6) 100%);
}
#ESPAcongressregistration, #ESPAcongressForm, #ESPAcongressRegistrationForm, #ESPAcongressprogrammeP2, #ESPAcongressdestination, #enter, #application, #packages, #awardsForm {
    & .btn .position-absolute {
        right: 10px;
        top: 13px;
    }
    
}
#footerSocials {
    display: flex;
    list-style: none;
}
#ESPAcongresscontactsAddress, #awardscontactsAddress {
    & a {
        color: $themePrimary;
    }
    
}
#ESPAcongresscontactsFor, #ESPAcongressRegistrationForm {
    .form-control, .custom-select, .custom-file-label {
        border-width: 0px 0px 1px 0px;
    }
}
#CongressTables, .awards-tables {
    overflow-x:auto;
} 

/*awards page*/
.awards-cover #cover {
    min-height: 400px !important;
    height: fit-content !important;
}
@include media-breakpoint-up(lg) {
    #AwardsLogo {
        position: absolute;
        top: -100px;
        left: 0px;
    }
}
@include media-breakpoint-down(md) {
    #AwardsLogo {
        height: 200px;
    }
}

#categories, #fees {
    background-color: #4cb9dc33;
}
#evaluation {
    background-color: $themeInfo;
}
#enter {
    background-color: $themePrimary;
}
#application, #packages {
    background-color: $themeLight;
}
.awards-cover{
    & h1 {
        display: none !important;
    }
    & #cover {
        display: flex;
    }
}
.infobox-first, .infobox-second, .infobox-third {
    & div {
        border: 1px solid #00B3FF;
        box-sizing: border-box;
        color: #00A0DE;
        font-size: 14px;
        height: 30px;
        line-height: 30px;
        margin: -6px auto 10px;
        text-align: center;
        vertical-align: middle;
        width: 30px;
    }
}
.table-bordered {
    border: 4px solid #FFFFFF !important;
}
.table > thead > tr.info > th {
    background-color: #029DCF;
    color: #ffffff;
}
.table-striped > tbody > tr:nth-child(odd) {
    & > th, & > td {
        background-color: #f9f9f9;
    }
}
.table-bordered {
    & th, & td {
        border: 1px solid #029DCF !important;
    }
}
#awardsForm {
    & #awardsName, #awardsEmail, #awardsMessage {
        border-right: 0px;
        border-top: 0px;
        border-bottom: 0px;
    }    
}
#awardsPartnersLogoCountainer a:last-child {
    padding-right: 0px !important;
}





/*contact page*/

/*Misc*/
.shadow-dark {
    text-shadow: 0 3px 25px #000;
}

/*error 404*/
.error-container {
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
    min-height: 600px;
}


//calendar widget theme
.flatpickr-calendar,
.flatpickr-day {
    border-radius: 0px;
}

span.flatpickr-day.today:not(.selected),
span.flatpickr-day.prevMonthDay.today:not(.selected),
span.flatpickr-day.nextMonthDay.today:not(.selected) {
    border-bottom-color: $themePrimary;
}

span.flatpickr-day.today:not(.selected):hover,
span.flatpickr-day.prevMonthDay.today:not(.selected):hover,
span.flatpickr-day.nextMonthDay.today:not(.selected):hover {
    border: 1px solid $themePrimary;
}

.flatpickr-day.today:hover,
.flatpickr-day.today:focus {
    border-color: $themePrimary;
    background: $themePrimary;
}

.flatpickr-day {
    color: $themePrimary;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
    background: $themeSecondary;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    border-color: $themeSecondary;
}

.flatpickr-month {
    color: $themePrimary;
    fill: $themePrimary;
}

span.flatpickr-weekday {
    color: rgba($themePrimary, 0.8);
}

.flatpickr-prev-month:hover,
.flatpickr-next-month:hover {
    color: $themeSecondary;
}

.flatpickr-day.inRange,
.flatpickr-day.prevMonthDay.inRange,
.flatpickr-day.nextMonthDay.inRange,
.flatpickr-day.today.inRange,
.flatpickr-day.prevMonthDay.today.inRange,
.flatpickr-day.nextMonthDay.today.inRange {
    border-top-color: $themeSecondary !important;
    border-bottom-color: $themeSecondary !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: $themeLight;
    background-color: $themeSecondary;
}

span.flatpickr-day.startRange,
span.flatpickr-day.prevMonthDay.startRange,
span.flatpickr-day.nextMonthDay.startRange,
span.flatpickr-day.endRange,
span.flatpickr-day.prevMonthDay.endRange,
span.flatpickr-day.nextMonthDay.endRange {
    border-color: $themeSecondary;
}

.flatpickr-day.selected.startRange,
.flatpickr-day.startRange.startRange,
.flatpickr-day.endRange.startRange {
    border-radius: 50px 0 0 50px !important;
}

.flatpickr-day.selected.endRange,
.flatpickr-day.startRange.endRange,
.flatpickr-day.endRange.endRange {
    border-radius: 0 50px 50px 0 !important;
}

.calendar-icon {
    background-image: url("../../../modules/config/images/calendar.svg");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 97%;
}


.tile-image {
    min-height: 600px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

//animations
//base
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animated.infinite {
    animation-iteration-count: infinite;
}

//effects
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

@keyframes slideInUp {
    from {
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInUp {
    animation-name: slideInUp;
}

//Scroll to Top - Arrow
#return-to-top {
    color: #fff;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: $themeLight;
    background: rgba(0, 0, 0, 0.5);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    z-index: 10;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top svg {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.7);
}
#return-to-top:hover svg {
    color: #fff;
    top: 5px;
}